.title {
  position: absolute;
  top: 50%;
  left: 220px;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%); 
  color: rgba(255, 255, 255, 0.838);
  font-size: 24px;
}

h1 {text-align: center;}
.panel-body1{
  width: 30%;
  height: 250px;
  background-color:rgb(143, 141, 141);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  color:white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin-block-start: 20%;
  

  
}

input[type="email"], textarea {

    background-color :white; 
  
  }
  
.header {
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:70px;
    background-color:#062e72;
    z-index:100;
    box-shadow:0014pxrgba(0, 0, 0, 0.713);
    }
       
    /* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background: #DDD;
    font-size: 10px;
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  

  .input[type="text"],input[type="email"] select {
    /*width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    padding: center;
    display: inline-block;*/
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
 
    background-color: rgb(228, 228, 240);
    height: 350px;
    
  }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"] :focus{
    /*border-bottom: 2px solid white;*/
    color: black;
    transition: 0.2s ease;
  }
  
  
  
  .submit{
    color: white;
    width:65%;
    background-color:#040b66 ;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    justify-content: center;
    display: flex;

  }

input[type="email"], textarea
input[type="password"] {

  background-color :white; 

}

input[type="email"] ,
input[type="password"],select {
  width: 100%;
 /* padding: 15px 20px;
  margin: 8px 0;
  display: inline-block;*/
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /*padding: center;*/
  background-color: rgb(228, 228, 240);
  height: 20px;
  margin-right:120px;
  padding: 12px;
  
}

.lbl{
   
    text-align: center;
}



input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  /*border-bottom: 2px solid white;*/
  color: black;
  transition: 0.2s ease;
}
  


   
.text-center{

  color:white;
}

input[type="email"], textarea {

  background-color :white; 

}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"] {
  /*border-bottom: 2px solid white;*/
  color: black;
  transition: 0.2s ease;
}
